body {
  /*width: 400px;
  height: 800px;*/
  font-family: Montserrat, "sans-sérif";
  margin: 0;
  /* padding: 16px; */
  box-sizing: border-box;
}
#divBody {
  height: 600px;
  width: 500px;
  border: 2px solid black;
  /**padding: 10px;**/
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*gap: 15px;*/
}

.Nigiara {
  height: 60px;
  width: 400px;
  /*border: 2px solid;
  border-radius: 15px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/** CONTAINER **/

.containerPomodoro {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  /**padding: 10px;**/
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** BUTTON **/

.containerButtonStart, .conatainerButtonEnd {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.start, .buttonEnd{
  height: 30px;
  width: 80px;
  border-radius: 15px;
  border: none;
  background-color: #554866;
  cursor: pointer;
  color: white;
  font-size: 15px;
  margin: 0px;
}

.start:hover {
  background-color: #bfb5cb;
}

/** TIMER **/

.containerTimer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.timer {
  font-size: 40px;
}
.container:nth-child(11) {
  align-self: center;
}
#usersInput{
    text-align: center;
}

/** BUTTON END **/

/*.conatainerButtonEnd {
  height: 100%;
  width: 100%;
}*/

/*.buttonEnd {
  height: 60px;
  width: 150px;
  border-radius: 15px;
  border: none;
  background-color: #554866;
  cursor: pointer;
  color: white;
  font-size: 15px;
  margin: 20px;
}*/

.buttonEnd:hover {
  background-color: #bfb5cb;
}

/** INPUT **/

.containerInput {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.input1,
.input2 {
  width: 30px;
  height: 30px;
}

.labelInput {
  font-size: 18px;
}

label {
  margin-right: 10px;
}
.titre{
    margin-bottom: 50px;
}
/** CONTAINER BOX **/

.containerMusicBox {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.labelMusic {
  font-size: 16px;
}

/* TODO LIST */

ul {
  list-style-type: none;
}

/* CONTAINER */

.containerTitle:first-child {
  align-self: flex-start;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.tasksList {
  font-size: 15px;
}*/
li{
    font-family: Georgia, serif;
    font-size: 20px;
    margin: 5px;
}

.containerTodo {
  height: 240px;
  width: 408px;
  border: 2px solid black;
  /**padding: 10px;**/
  border-radius: 20px;
  background-image: url('../icons/backgroundTodo.png');
  text-align: center;
  margin-bottom: 10px;
  position: inherit;
}
.containerTask{
  display: flex;
  justify-content: center;
  align-items: left;
}

/* BUTTON */

img.buttonImg {
  height: 50px;
  width: 50px;
}

#buttonAdd {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  vertical-align: middle;
}
#buttonAdd img {
  height: 50px;
  width: 50px;
}

.buttonPoubelle img {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  /*background: url('icons/poubelle.png');*/
}

.buttonPoubelle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#taskListConstainer {
  overflow-y: auto;
  max-height: 80px;
  text-align: center
}

ul.taskList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  padding-inline-start: 0px;
}
.inputEntry{
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    font-family: Georgia, serif;
    font-size: 16px;
}

/* METEO */

.containerMeteo {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 20px;
}

.containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  
}

.containerMeteo {
}

#inputcity {
}

#bouton {
}

#taskInputContainer {
    text-align: center;
}