body {
    display: block;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 ;
    padding: 16px;
    box-sizing: border-box;
}
#labelMusique{
    font-size: 15px;
}
#pomodoro{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column
}
#pomodoro h5{
    text-align: center;
}
#usersInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input,
label {
  margin: 0.4rem 0;
}
#usersInput input{
    width: 30px;
    height: 30px;
}
#todoList{
    display: flex;
    align-items: center;
    justify-content: center;
}
#champsSaisie{
    height: 18px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin: 20px;

}
img{
    width: 30px;
    height: 30px;
}
#buttonPoubelle{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#checkBox{
    padding: 20px;
}
#listContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}