body {
<<<<<<< HEAD
    /**width: 400px;**/
    font-family: Montserrat, 'sans-sérif';
=======
    display: block;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
>>>>>>> branchTodoList
    background-color: white;
    margin: 0 ;
    padding: 16px;
    box-sizing: border-box;
}

/** CONTAINER **/

.container {
    height: 250px;
    width: 400px;
    border: 2px solid black;
    /**padding: 10px;**/
    border-radius: 20px;
    display: flex;
<<<<<<< HEAD
=======
    flex-direction: column
}
#pomodoro h5{
    text-align: center;
}
#usersInput{
    display: flex;
>>>>>>> branchTodoList
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD

/** BUTTON **/ 

.containerButtonStart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.start {
    height: 60px;
    width: 250px;
    border-radius: 15px;
    border: none;
    background-color: #554866;
    cursor: pointer;
    color: white;
    font-size: 30px;
    margin: 20px;
}

.start:hover {
    background-color: #bfb5cb;
}

/** TIMER **/

.containerTimer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.timer {
    font-size: 80px;
    
}
.container:nth-child(11){
    align-self: center;
}

/** BUTTON END **/

.conatainerButtonEnd {
    background-color: red;
    height: 100%;
    width: 100%;
}

.buttonEnd {
    height: 60px;
    width: 150px;
    border-radius: 15px;
    border: none;
    background-color: #554866;
    cursor: pointer;
    color: white;
    font-size: 30px;
    margin: 20px;
}

.buttonEnd:hover {
    background-color: #bfb5cb;
}

/** INPUT **/ 

.containerInput {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.input {
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.input1, .input2 {
    width: 30px;
    height: 30px;

}

.labelInput {
    font-size: 20px;
}

label {
    margin-right: 10px;
}

/** CONTAINER BOX **/

.containerMusicBox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.labelMusic {
    font-size: 18px;
}

=======
input,
label {
  margin: 0.4rem 0;
}
#usersInput input{
    width: 30px;
    height: 30px;
}
#todoList{
    display: flex;
    align-items: center;
    justify-content: center;
}
#champsSaisie{
    height: 18px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin: 20px;

}
img{
    width: 30px;
    height: 30px;
}
#buttonPoubelle{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#listContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
>>>>>>> branchTodoList
